<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Lesson Details</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .textarea {
            resize: none;
        }
    </style>
</head>
<body class="">
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-fixed-top">
    <div class="container-fluid p-3 mb-2 bg-secondary">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"id="Grammar"> Grammar </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/album?type=Grammar&level=A1">A1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Grammar&level=A2">A2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Grammar&level=B1">B1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Grammar&level=B2">B2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Grammar&level=C1">C1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Grammar&level=C2">C2</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="Vocabulary"> Vocabulary </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/album?type=Vocabulary&level=A1">A1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Vocabulary&level=A2">A2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Vocabulary&level=B1">B1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Vocabulary&level=B2">B2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Vocabulary&level=C1">C1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Vocabulary&level=C2">C2</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="Listening"> Listening </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/album?type=Listening&level=A1">A1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Listening&level=A2">A2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Listening&level=B1">B1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Listening&level=B2">B2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Listening&level=C1">C1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Listening&level=C2">C2</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="Reading"> Reading </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/album?type=Reading&level=A1">A1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Reading&level=A2">A2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Reading&level=B1">B1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Reading&level=B2">B2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Reading&level=C1">C1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Reading&level=C2">C2</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="Writing"> Writing </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/album?type=Writing&level=A1">A1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Writing&level=A2">A2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Writing&level=B1">B1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Writing&level=B2">B2</a></li>
                        <li><a class="dropdown-item" href="/album?type=Writing&level=C1">C1</a></li>
                        <li><a class="dropdown-item" href="/album?type=Writing&level=C2">C2</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/createLesson">Create Lesson</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-outline-black" type="submit">Search</button>
            </form>
            <ul class="navbar-nav navbar-brand">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 th:text="${lesson.name}"></h1>
    <p th:text="${lesson.description}"></p>
    <!--
    <p th:text="${'Level: ' + lesson.level.name}"></p>
    <p th:text="${'Type: ' + lesson.type.name}"></p>
    -->
    <div th:unless="${lesson.type.name.compareTo('Writing')}">
        <p th:text="${'Topic: ' + lesson.task}"></p>
    </div>

    <div th:unless="${lesson.type.name.compareTo('Listening')}">
    <iframe width="1280" height="720"
            src="https://www.youtube-nocookie.com/embed/YdWo5zbbGnY?si=5F_L8FWP1mzGDkjM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>
    </div>

    <div th:unless="${lesson.type.name.compareTo('Reading')}">
        <pre>
            Adam Mickiewicz
Pan Tadeusz
czyli ostatni zajazd na Litwie
Księga pierwsza
Gospodarstwo
Powrót panicza — Spotkanie się pierwsze w pokoiku, drugie u stołu — Ważna Sędziego nauka o grzeczności
— Podkomorzego uwagi polityczne nad modami — Początek sporu o Kusego i Sokoła — Żale Wojskiego
— Ostatni Woźny Trybunału — Rzut oka na ówczesny stan polityczny Litwy i Europy

Litwo! Ojczyzno moja! ty jesteś jak zdrowie:
Ile cię trzeba cenić, ten tylko się dowie,
Kto cię stracił. Dziś piękność twą w całej ozdobie
Widzę i opisuję, bo tęsknię po tobie.
Panno święta, co Jasnej bronisz Częstochowy
I w Ostrej świecisz Bramie! Ty, co gród zamkowy
Nowogródzki ochraniasz z jego wiernym ludem!
Jak mnie dziecko do zdrowia powróciłaś cudem
(Gdy od płaczącej matki, pod Twoją opiekę
Ofiarowany, martwą podniosłem powiekę;
I zaraz mogłem pieszo, do Twych świątyń progu
Iść za wrócone życie podziękować Bogu),
Tak nas powrócisz cudem na Ojczyzny łono.
Tymczasem przenoś moją duszę utęsknioną
Do tych pagórków leśnych, do tych łąk zielonych,
Szeroko nad błękitnym Niemnem rozciągnionych;
Do tych pól malowanych zbożem rozmaitem,
Wyzłacanych pszenicą, posrebrzanych żytem;
Gdzie bursztynowy świerzop, gryka jak śnieg biała,
Gdzie panieńskim rumieńcem dzięcielina pała,
A wszystko przepasane jakby wstęgą, miedzą
Zieloną, na niej z rzadka ciche grusze siedzą.
        </pre>
    </div>

    <div th:unless="${lesson.type.name.compareTo('Writing')}">
        <textarea class="textarea" id="textarea" rows="35" cols="171">
        </textarea>
    </div>

    <!--
    <h2>Questions:</h2>
    <ul>
        <li th:each="question : ${lesson.questions}" th:text="${question}"></li>
    </ul>

    <h2>Answers:</h2>
    <ul>
        <li th:each="answer : ${lesson.answers}" th:text="${answer}"></li>
    </ul>
    -->

    <div th:if="${lesson.type.name.compareTo('Writing')}">
    <h2>Questions:</h2>
    <ul>
        <li th:each="question, iterStat : ${lesson.questions}">
            <span th:text="${question}"></span> -
            <span th:text="${lesson.answers[iterStat.index]}"></span>
        </li>
    </ul>
    </div>

</div>

<script>
    function loadMore() {
        // Implement your logic to load more lessons
        // You may need to make an AJAX request to the server to fetch additional lessons
        alert("Load more lessons...");
    }
</script>
</body>
</html>