<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Lesson Details</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<th:replace th:replace="~{header :: common-header}"></th:replace>

<div class="container">
    <div class="p-3 mb-2 bg-warning text-dark"
         th:text="${lesson.getLessonInfo().getName() + ' - ' + (lesson.getLessonInfo().getLevel() != null ? lesson.getLessonInfo().getLevel() : '') + ' ' + (lesson.getLessonInfo().getType() != null ? lesson.getLessonInfo().getType() : '')}"></div>

    <h2 th:text="${lesson.getLessonInfo().getName()}"></h2>
    <p th:text="${lesson.getLessonInfo().getDescription()}"></p>
    <hr>

    <div th:if="${lesson.getLessonInfo().getType() == 'Listening'}">
        <iframe width="1280" height="720"
                th:src="${lesson.getLessonInfo().getOpt()}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </div>

    <div th:if="${lesson.getLessonInfo().getType() == 'Reading'}">
        <p th:text="${lesson.getLessonInfo().getOpt()}"></p>
    </div>

    <div th:if="${lesson.getLessonInfo().getType() == 'Writing'}">
        <p th:text="${lesson.getLessonInfo().getOpt()}"></p>
    </div>


    <h3>Exercise</h3>
    <p th:text="${lesson.getTask()}"></p>

    <div id="result"></div>

    <button onclick="checkAnswers()">Check Answers</button>

    <script th:inline="javascript">
        var questionsArray = /*[[${lesson.getQuestions()}]]*/ [];

        function showAndAnswerQuestions() {

            var ulElement = document.createElement('ul');

            // show questions
            questionsArray.forEach(function(question, index) {
                var liElement = document.createElement('li');
                liElement.textContent = (index + 1) + ". " + question;

                // add field to answers
                var answerInput = document.createElement('input');
                answerInput.type = 'text';
                answerInput.placeholder = 'Your Answer...';
                answerInput.id = 'answer' + (index + 1);
                liElement.appendChild(answerInput);

                ulElement.appendChild(liElement);
            });

            var resultDiv = document.getElementById('result');

            resultDiv.innerHTML = '';

            resultDiv.appendChild(ulElement);
        }

        function checkAnswers() {
            var resultDiv = document.getElementById('result');
            var answersArray = /*[[${lesson.getAnswers()}]]*/ [];

            var correctCount = 0;

            // check user's answer
            for (var i = 1; i <= answersArray.length; i++) {
                var answerInput = document.getElementById('answer' + i);
                if (answerInput) {
                    var userAnswer = answerInput.value;

                    if (userAnswer === answersArray[i - 1]) {
                        correctCount++;
                    }
                }
            }

            // show questions and answers
            var resultHTML = '<h3>Questions and Your Answers:</h3>';
            for (var i = 0; i < answersArray.length; i++) {
                resultHTML += '<p><strong>Question ' + (i + 1) + ':</strong> ' + questionsArray[i] + '<br>';
                resultHTML += '<strong>Your Answer:</strong> ' + (i < userAnswer.length ? userAnswer[i] : 'Not answered');

                // check answers and show result
                if (i < answersArray.length) {
                    resultHTML += ' - <span style="color: ' + (userAnswer === answersArray[i] ? 'green' : 'red') + '">'
                        + (userAnswer === answersArray[i] ? 'Correct' : 'Incorrect') + '</span><br>';
                }

                resultHTML += '<strong>Correct Answer:</strong> ' + answersArray[i] + '<br>'

                resultHTML += '</p>';
            }

            resultDiv.innerHTML = resultHTML;

            resultDiv.innerHTML += '<p><strong>Total Correct Answers:</strong> ' + correctCount + '</p>';
        }


        // invoke function
        window.onload = function() {
            showAndAnswerQuestions();
        };
    </script>

</div>

</body>
</html>